<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>

    <link href="/css/main.css" rel="stylesheet" />
    
    {{ $styles := resources.Get "css/main.css" | postCSS | minify | fingerprint }}
    <link rel="stylesheet" href='{{ "css/styles.css" | relURL }}'>
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
  </head>
  <!-- Make body a flex column that fills the screen -->
  <body class="bg-white text-gray-800 font-sans flex flex-col min-h-screen">
    
    {{ partial "navbar.html" . }}

    <!-- Let main grow to push the footer down -->
    <main class="flex-grow">
      {{ block "main" . }}{{ end }}
    </main>

    {{ partial "footer.html" . }}

  </body>
</html>